.imagesList {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.list-img {
  width: 370px;
  height: 370px;
  flex-basis: calc(100% / 3 - 40px);
  margin: 20px;
  background-size: contain;
}

ul {
  list-style: none;
}

/* ========  task 6  =============  */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
